- current_user.groups.each do |group|
  .groups__list
    = link_to group_messages_path(group) do
      %p.groups__list__group-name
        = group.name
      %p.groups__list__latest-message
        = group.show_last_message