.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
        %li.side-header__box__menu__edit-user
          = link_to "/users/edit" do
            %i.fa.fa-cog
  .groups
    = render partial: "shared/group"